<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<!-- <app-landing></app-landing> -->

<!-- <body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">

            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form class="form" [formGroup]="loginForm">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username">Username<span class="text-danger">*</span></label><br>
                                <input type="text" name="USER_NAME" id="USER_NAME" class="form-control2"
                                    formControlName="USER_NAME">
                                <div class="class text-danger">
                                    <div *ngIf="i['USER_NAME'].errors && submitted">
                                        <span *ngIf="i['USER_NAME'].errors['required']">required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password<span class="text-danger">*</span></label><br>
                                <input type="password" name="PASSWORD" id="PASSWORD" class="form-control2"
                                    formControlName="PASSWORD">
                                <div class="class text-danger">
                                    <div *ngIf="i['PASSWORD'].errors && submitted">
                                        <span *ngIf="i['PASSWORD'].errors['required']">required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-lg" class="btn btn-info btn-md"
                                        (click)="GetLogin()">Login</button>
                                </div>
                                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                                        class="link-danger" routerLink="/registration">Register</a></p>
                                <a href="#!" class="link-danger" routerLink="/forgotPwd">forgot password</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>-->
<!-- <app-dashboard></app-dashboard> -->
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form class="form" [formGroup]="loginForm">            <!-- <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
                <div class="col-md-12">
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                </div>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-linkedin-in"></i>
              </button>
            </div>
   -->
            <!-- <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div> -->
  
           
            <div class="form-outline mb-4">
            <div class="form-group">

              <input type="text" id="USER_NAME" class="form-control form-control-lg" formControlName="USER_NAME"
                placeholder="Enter a valid user name " />
              <label class="form-label" for="form3Example3">User Name</label>
            </div>
            </div>
           
            <div class="form-outline mb-3">
                <div class="form-group">

              <input type="password" id="PASSWORD" class="form-control form-control-lg"  formControlName="PASSWORD"
                placeholder="Enter password" />
              <label class="form-label" for="form3Example4">Password</label>
            </div>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body" routerLink="/forgot-password" >Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;"  routerLink="/dashboard" (click)="GetLogin()">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                  class="link-danger" routerLink="/registration">Register</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
      </div>
      <!-- Copyright -->
  
     
    </div>
  </section>
  <!-- <app-footer></app-footer>  -->
